.container {
  margin: 0 auto;
  padding-right: 30px;
  padding-left: 30px;
  max-width: 1660px;
}

.site-container {
  position: relative;
  overflow: hidden;
}

.flex {
  display: flex;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.section-title {
  margin-bottom: var(--gap-title );
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: var(--color-text);
}
