.hero {
  position: relative;
}

.hero__content {
  position: relative;
  padding-top: 233px;
  padding-bottom: 121px;
  z-index: 2;
  /* pointer-events: none; */
}

.hero__title {
  margin: 0;
  margin-top: -2px;
  margin-bottom: 0;
  max-width: 597px;
  font-weight: 700;
  font-size: 72px;
  line-height: 98px;
  color: var(--color-white);
}

.hero__descr {
  margin: 0;
  margin-bottom: 92px;
  max-width: 550px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--color-white);
}

.hero__link {
  position: relative;
  display: inline-block;
  padding: 25px 35px;
  border-radius: 100px;
  min-width: 314px;
  max-width: 400px;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  color: var(--color-white);
  background-color: var(--color-btn);
  pointer-events: auto;
  transition: box-shadow .3s, background-color .3s;
}

.hero__link::before {
  content: "";
  position: absolute;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  border: 2px solid var(--color-nav-hover);
  border-radius: 100px;
  opacity: 0;
  transition: opacity .3s;
}

.hero__link:focus-visible:not(:hover):not(:active):before {
  opacity: 1;
}

@media (any-hover: hover) {
  .hero__link:hover {
    box-shadow: inset 0 0 0 3px var(--color-btn-border);
  }
}

.hero__link:active {
  box-shadow: inset 0 0 0 3px var(--color-btn-border);
  background-color: var(--color-active);
}

/* SLIDER */
.hero .swiper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  min-height: inherit;
}

.hero__wrapper {
  min-height: inherit;
}

.swiper-slide--img1 {
  background-color: #816894;
  background-image: url("../../img/hero-1.jpg");
  min-height: inherit;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.swiper-slide--img2 {
  background-color: #816894;
  background-image: url("../../img/hero-2.jpg");
  min-height: inherit;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.swiper-slide--img3 {
  background-color: #816894;
  background-image: url("../../img/hero-3.jpg");
  min-height: inherit;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* пагинация под наш дизайн */
/* .hero .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 10px;
}

.hero .swiper-pagination-bullet {
  position: relative;
  width: 15px;
  height: 15px;
  background: rgba(255, 255, 255, .2);
}

.hero .swiper-pagination-bullet:hover:not(:focus-visible) {
  outline: 1px solid var(--color-white);
}

.hero .swiper-pagination-bullet-active:hover {
  outline: none;
}

.hero .swiper-pagination-bullet:focus-visible {
  outline: 2px solid var(--color-btn);
}

.hero .swiper-pagination-bullet-active {
  background-color: var(--color-white);
  opacity: 1;
}

.hero .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 30px;
} */
